@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
![image](https://github.com/Sanskriti-Khandelwal/TestGitRepo/assets/133846396/662b7f07-62e9-42a8-a818-1390eeb64dab)

</div>
